<%- include("./partials/header")%>
<!--Main Page-->
<div class="container">
<%if(data.Rated==='PG-13') {%>
    <div class="alert alert-warning" role="alert">
       Watch with your parents
      </div>
<%}%>

   
    <!--Card-->
  <div class="card flex-row flex-wrap">
    <div class="card-header border-0">
      <img src="<%=data.Poster%>" alt="Poster" />
    </div>


    <div class="card-block px-2">
      <h4 class="card-title"><%=data.Title%></h4>
      <p class="card-text"><%=data.Plot%></p>
      <p class="card-text">Actors: <%=data.Actors%></p>
    </div>
    <div class="w-100">
        <ul>
            <%data['Ratings'].forEach(function(rating){%>
            
            <li><%=rating.Source %> - <%=rating.Value%></li>
            <%})%>
        </ul>
    </div>
    <div class="card-footer w-100 text-muted">Box Office: <%=data.BoxOffice%></div>
  </div>
</div>
<%- include("./partials/footer")%>