<%- include("./partials/header") %>
<div class="container">
  <% if(moviesDump.Response==='False'){ %>
  <h1>Movie not found</h1>
  <% }else{ %>
 
  <div class="row">
    <% moviesDump['Search'].forEach(function(movie) {%>
    <%if(movie.Type==="movie" && movie.Poster!="N/A"){%>
    <div class="card  border-light shadow p-3 mb-5 bg-white rounded" style="width: 18rem; margin: 30px;">
      <img src="<%=movie.Poster%>" class="card-img-top" style="height:350px;" alt="..." />
      <div class="card-body d-flex flex-column">
        <!-- <h5 class="card-title"><%=movie.Title%></h5> -->
        <h5 class="card-title"><b><%=movie.Title%> </b><span class="badge badge-secondary"><%=movie.Year%></span></h5>
        <!-- <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p> -->
        <br/>
        <a href="/result/<%=movie.imdbID%>" style="border-width: 2.5px;" class="btn btn-outline-dark d-flex flex-wrap align-content-center mt-auto">View Details</a>
      </div>
    </div>
<%}%>
    <%})%>
  </div>

  <%}%>
</div>

<%- include("./partials/footer") %>
